<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HevORT | Advanced DIY 3D Printer</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="description" content="HevORT DIY 3D-Printer Documentation">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="docs/assets/libs/docsify/theme-simple-dark.css">
  <link rel="stylesheet" href="docs/assets/libs/prism-tomorrow.css">
  <link rel="stylesheet" href="docs/assets/libs/fontawesome/css/all.min.css"/>
  <link rel="stylesheet" href="docs/assets/plugins/hevort-button/style.css"/>
  <link rel="stylesheet" href="docs/assets/plugins/notification-markup/style.css"/>

  <link rel="stylesheet" href="docs/assets/css/style.css"/>
  <link rel="stylesheet" href="docs/assets/css/grid.css"/>
</head>
<body>
<div id="app"></div>
<script>
  window.$docsify = {
    executeScript: true,
    search: {
      paths: 'auto',
      noData: 'No Results!',
      placeholder: "Search",
      namespace: 'hevort-search',
      depth: 6,
      hideOtherSidebarContent: true
    },
    basePath: "/docs",
    homepage: "cover.md",
    auto2top: true,
    subMaxLevel: 3,
    coverpage: "cover.md",
    onlyCover: true,
    loadSidebar: "sidebar.md",
    alias: {
      '/.*/sidebar.md': '/sidebar.md',
    },
    name: 'HevORT',
    notFoundPage: "404.md",
    repo: 'https://github.com/MirageC79/HevORT',
    'flexible-alerts': {
      style: 'flat'
    },
    themeable: {
      readyTransition: true,
      responsiveTables: true
    },
    markdown: {
      // https://marked.js.org/#/USING_PRO.md#renderer
      renderer: {
        image: function (href, extra, title) {
          let attrs = [];
          let config = {};
          if (extra) {
            extra = extra
                    .replace(/(?:^|\s):([\w-]+:?)=?([\w-%]+)?/g, (m, key, value) => {
                      if (key.indexOf(':') === -1) {
                        config[key] = (value && value.replace(/&quot;/g, '')) || true;
                        return '';
                      }

                      return m;
                    })
                    .trim();
          }

          if (config.size) {
            const [width, height] = config.size.split('x');
            if (height) {
              attrs.push(`width="${width}" height="${height}"`);
            } else {
              attrs.push(`width="${width}"`);
            }
          }

          if (config.class) {
            attrs.push(`class="${config.class}"`);
          }

          if (config.id) {
            attrs.push(`id="${config.id}"`);
          }

          if (attrs.length > 0) {
            return `<img src="${href}" data-origin="${href}" alt="${title}" ${attrs.join(
                    ' '
            )} />`;
          }

          return `<img src="${href}" data-origin="${href}" alt="${title}"${attrs} />`;
        }
      }
    },
    vueGlobalOptions: {
      mounted: function () {
        this.$nextTick(() => {
          let currentLocationHref = window.location.href;

          let currentAnchorId = currentLocationHref.match(/\?id=(.+)$/);
          if (!currentAnchorId) {
            return;
          }
          if (!currentAnchorId) {
            return;
          }
          currentAnchorId = currentAnchorId[1];

          if (!currentAnchorId) {
            return;
          }

          let currentAnchoredElement = null;

          try {
            currentAnchoredElement = document.querySelector(`#${currentAnchorId}`);
          } catch (e) {
            return;
          }

          if (!currentAnchoredElement) {
            return;
          }

          if (currentAnchoredElement.classList.contains("grid-item") && !currentAnchoredElement.classList.contains("link-selected-anchor")) {
            currentAnchoredElement.classList.add("link-selected-anchor");
          }

          setTimeout(() => {
            currentAnchoredElement.scrollIntoView();
          }, 2000);
        });
      }
    },
    vueComponents: {
      'grid': {
        template: `
          <div class="grid" :style="[config.gridTemplateColumns ? {'gridTemplateColumns': config.gridTemplateColumns} : {'gridTemplateColumns': '1fr 1fr 1fr'}]">
          <slot></slot>
          </div>
        `,
        props: {
          config: {
            type: Object,
            default: () => {
              return {gridTemplateColumns: '1fr 1fr 1fr'}
            }
          }
        }
      },
      'item-image': {
        props: {
          url: String,
        },

        template: `

        `
      },
      'credits': {
        template: `
          <div class="grid-item-credits">
            <span class="grid-item-credit-header">Credits</span>
            <ul class="grid-item-credit-list">
                <slot></slot>
            </ul>
          </div>
        `,
      },
      'credit': {
        props: {
          name: String,
        },
        template: `
          <li class="grid-item-credit-list-item">
          <div class="grid-item-credit-list-item-wrapper">
            <span class="grid-item-credit-list-item-name">{{ name }}</span>
            <span>
                <slot></slot>
              </span>
          </div>
          </li>
        `,
      },
      'buttons': {
        data: () => {
          return {
            childs: []
          }
        },
        mounted: function () {
          this.childs = this.$refs?.buttons?.children;
        },
        computed: {
          childCount: function () {
            return this.childs.length;
          }
        },
        template: `
          <div class="grid-item-button-container" ref="buttons" :style="[childCount === 1 ? {'grid-template-columns': '1fr'} : {'grid-template-columns': '1fr 1fr'}]">
          <slot></slot>
          </div>
        `,
      },
      'item-button': {
        props: {
          target: {
            type: String,
            default: () => "_blank"
          },
          icon: String,
          url: String,
        },
        template: `
          <a class="hevort-btn" :href="url" :target="target">
          <span class="hevort-btn-text" :style="[icon ? {'textAlign': 'center', 'marginLeft': 'auto'} : {}]">
               <slot></slot>
             </span>
          <i v-if="icon" :class="icon" :style="{'marginLeft': 'auto', 'paddingLeft': '0.5rem'}"></i>
          </a>
        `
      },
      'description': {
        template: `
          <div class="grid-item-description-container">
          <button class="grid-item-description-button hevort-btn" @click="(e) => toggleDescription(e)">
            <span class="grid-item-description-button-text" v-text="descriptionExpanded ? 'Hide Description' : 'Show Description'"></span>
            <i class="grid-item-description-button-icon" :class="descriptionExpanded ? 'fa-solid fa-angle-up' : 'fa-solid fa-angle-down'"></i>
          </button>
          <div class="grid-item-description" :class="(descriptionExpanded) ? 'grid-item-description-expanded' : ''">
            <slot></slot>
          </div>
          </div>
        `,
        data: () => {
          return {
            descriptionExpanded: false
          }
        },
        methods: {
          toggleDescription: function (buttonEvent) {
            let descriptionElement = buttonEvent.target.parentElement.parentElement.querySelector(".grid-item-description");

            if(descriptionElement.style.maxHeight) {
              descriptionElement.classList.remove("grid-item-description-expanded");
            } else {
              descriptionElement.classList.add("grid-item-description-expanded");
            }

            Vue.set(this, "descriptionExpanded", !this.descriptionExpanded);
          },
        },
      },
      'item': {
        props: {
          title: String,
          hide: {
            type: Boolean,
            default: () => false
          },
          status: String,
          image: {
            type: String,
            default: () => "https://via.placeholder.com/400.png/FF0000/000000?text=Placeholder+Image"
          },
        },
        data: () => {
          return {
            descriptionElement: null,
          }
        },
        mounted: function () {
          this.descriptionElement = this.$refs?.image?.parentNode.querySelector(".grid-item-description-container");
        },
        computed: {
          descriptionElmExists: function () {
            return this.descriptionElement !== null;
          },
        },
        methods: {
          createAnchorLinkHref: function (anchorId) {
            let currentLocation = window.location.href;
            let match = currentLocation.match(/\/(#\/pages\/.+)\?id=.+$/m);
            if (!match) {
              match = currentLocation.match(/\/(#\/pages\/.+)$/m);
            }

            if (!match) {
              return currentLocation;
            }

            let pageBase = match[1];

            return `${pageBase}?id=${anchorId}`;
          },
          createAnchorId: function () {
            let anchorId = "a-";
            let whiteList = ["[a-zA-Z]", "\\d", "-", "_"];
            [...this.title.toLowerCase()].forEach((char) => {
              let matchedAtLeastOnce = false;
              whiteList.forEach((allowedRegEx) => {
                let regEx = new RegExp(allowedRegEx);
                let result = regEx.exec(char);
                matchedAtLeastOnce = result !== null ? true : matchedAtLeastOnce;
              });

              if (char === " ") {
                anchorId += "-";
              } else if (matchedAtLeastOnce) {
                anchorId += char;
              } else {
                anchorId += "_";
              }
            });
            return anchorId;
          },
            titleClick: function () {
            document.querySelectorAll(".grid-item").forEach((item) => {
              if (item.classList.contains("link-selected-anchor")) {
                item.classList.remove("link-selected-anchor");
              }
            });
            this.$el.classList.add("link-selected-anchor");
            this.$el.scrollIntoView({behavior: "smooth"});
          }
        },
        template: `
            <div class="grid-item" :id="createAnchorId()" v-if="!hide">
                <span class="grid-item-title-wrapper" :style="[status ? {'padding-right': '0'} : {'padding-right': '1rem'}]">
                  <span class="grid-item-title-inner-wrapper">
                    <a class="grid-item-title" :href="createAnchorLinkHref(createAnchorId())" @click="titleClick" v-html=title></a>
                  </span>
                  <span class="grid-item-state" v-if="status" v-text="status"></span>
                </span>
                <div class="grid-item-container">
                  <img v-if="image" alt="IMAGE" ref="image" :style="[descriptionElmExists ? {} :{'border': '1px solid var(--primary-color) !important', 'borderRadius': '1rem'}]" class="grid-item-image" :src=image />
                  <slot name="description"><span style="margin-bottom: 1rem"></span></slot>
                  <slot name="credits"><div style="margin-top: auto"></div></slot>
                  <slot name="buttons"></slot>
                </div>
            </div>
        `
      }
    },
  }
</script>
<!-- Docsify v4 -->
<script src="docs/assets/libs/vue.min.js"></script>
<script src="docs/assets/libs/docsify/docsify@4.js"></script>
<script src="docs/assets/libs/prism-csharp.min.js"></script>
<script src="docs/assets/libs/docsify/docsify-themeable.min.js"></script>
<script src="docs/assets/libs/docsify/docsify-sidebar-collapse.min.js"></script>
<script src="docs/assets/libs/docsify/plugins/external-script.min.js"></script>
<script src="docs/assets/libs/docsify/plugins/search.min.js"></script>
<script src="docs/assets/libs/docsify/plugins/docsify-fontawesome.min.js"></script>
<script src="docs/assets/plugins/hevort-button/script.js"></script>
<script src="docs/assets/plugins/notification-markup/script.js"></script>
</body>
</html>
