####################################################################
############################# KRAKEN HEVORT ########################
####################################################################

#AWD n#ema23 #watercooled
# This file contains common pin mappings for the BIGTREETECH Kraken.
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

####################################################################
############################# INCLUDES #############################
####################################################################

#[include shell_command.cfg]

#[include neopixel.cfg]

[include macros.cfg]
[include mainsail.cfg]

####################################################################
############################## MCU #################################
####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_490022001151313230353039-if00

[mcu rpi]                           # Create an additional MCU from the Raspberry Pi 
serial: /tmp/klipper_host_mcu

[temperature_sensor Kraken]     # Create a temperature reading for the Controller Board's MCU
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


####################################################################
########################### FUNCTIONS ##############################
####################################################################

[virtual_sdcard]
path: /home/ubu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


[display_status]

[save_variables]
filename: /home/xxxxxxxxx/printer_data/saved_variables.cfg

[exclude_object]

[gcode_arcs]  #Required for OrcaSlicer when using Z-hop. Orca does spiral wipes and needs G2/G3 to do so.
resolution: 1.0

####################################################################
############################ XY AXIS ###############################
####################################################################


# S1
[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PE6
microsteps: 64
rotation_distance: 40
endstop_pin: PC15
homing_retract_dist: 0.0
position_endstop: 0
position_max: 296
homing_speed: 300
full_steps_per_rotation:400
homing_retract_dist: 0
homing_positive_dir: false


# S2
[stepper_y]
step_pin: PE5
dir_pin: PE4
enable_pin: !PE3
microsteps: 64
rotation_distance: 40
endstop_pin: PF0
homing_retract_dist: 0.0
position_endstop: 0.0
position_max:315
homing_speed: 300
full_steps_per_rotation:400
homing_retract_dist: 0
homing_positive_dir: false



# S3
[stepper_x1]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE0
microsteps: 64
rotation_distance: 40
full_steps_per_rotation:400


# S4
[stepper_y1]
step_pin: PB9
dir_pin: PB8
enable_pin: PB7
microsteps: 64
rotation_distance: 40
full_steps_per_rotation:400

####################################################################
############################ Z AXIS ################################
####################################################################

#S6
[stepper_z]
step_pin: PG11
dir_pin: PD7
enable_pin: !PG12
microsteps: 64
rotation_distance: 4
full_steps_per_rotation: 400
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 290
homing_speed: 5
homing_retract_dist: 0.0
second_homing_speed: 5
homing_positive_dir: false


# S7
[stepper_z1]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB5
microsteps: 64
rotation_distance: 4
full_steps_per_rotation: 400

# S8
[stepper_z2]
step_pin: PG15
dir_pin: PB6
enable_pin: !PG14
microsteps: 64
rotation_distance: 4
full_steps_per_rotation: 400
#heater_pin: PF8 # HE3
#sensor_pin: PA7 # T3
#...

##################################################################
#############################EXTRUDER#############################
##################################################################



# S5
[extruder]
step_pin: PG9
dir_pin: !PG10
enable_pin: !PG13
microsteps: 32
#rotation_distance: 20.6124 #(50.9 mm) #21.36 48.25  #26.4 47.94 #4.4
rotation_distance: 34.237782808246 #34.995433953336 #.6 cht nozzle #35.288327068 .8 nozzle  #22.0746 #94278096
#3.793340797039 #asa .6 cht nozzle
#21.9686 #polysonic black
nozzle_diameter: 0.600
filament_diameter: 1.750
full_steps_per_rotation:200
gear_ratio: 60:10
heater_pin: PF6 # HE0
sensor_pin:  PB1# T0
sensor_type: PT1000
#control: pid
#pid_Kp:24.397 
#pid_Ki:3.614 
#pid_Kd:41.169
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 290
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 500
max_extrude_only_velocity: 200
max_extrude_only_accel: 50000
min_extrude_temp: 0
pressure_advance: 0.026
pressure_advance_smooth_time: 0.05

##################################################################
############################# BEACON #############################
##################################################################


[beacon]
serial:/dev/serial/by-id/usb-Beacon_Beacon_RevH_E42B84845154354D38202020FF0A190C-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 51 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
speed: 20
lift_speed: 40

[resonance_tester]
accel_chip: beacon
probe_points: 137.5, 137.5, 20

##################################################################
####################### SCREW_TILT_ADJUST ########################
##################################################################

[screws_tilt_adjust]
screw1: 0, 0
screw1_name: front left screw
screw2: 296, 0
screw2_name: front right screw
screw3: 296, 257
screw3_name: rear right screw
screw4: 0, 257
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M4

##################################################################
############################# Z_TILT #############################
##################################################################

[z_tilt]
z_positions: 
    -28.8,-5
     157.5,315
     324.8,-5

points:
    0,0
    137.5, 275
    296,5

speed: 500

##################################################################
############################# BED_MESH ###########################
##################################################################

[bed_mesh]
algorithm: bicubic
bicubic_tension: 0.2
speed: 600
horizontal_move_z: 2
mesh_min: 20, 55 #Probe position
mesh_max: 260,265 
probe_count: 20 , 20
fade_start: 1
fade_end: 5

#a###################################################################
############################ BED ###################################
####################################################################


[heater_bed]
heater_pin: PF5
sensor_pin: PB0 # TB
sensor_type:EPCOS 100K B57560G104F
#control: pid
#pid_Kp:73.224 
#pid_Ki:1.530 
#pid_Kd:875.948
#pid_Kp: 68.929
#pid_Ki: 2.596
#pid_Kd: 457.513
min_temp: 0
max_temp: 130


####################################################################
########################## PSU 48V #################################
####################################################################


#PSU Relay control pin on GPIO 26 ######Fan#5
[output_pin psu48_control]
pin: rpi:gpio26
pwm: False
value: 1
shutdown_value: 1

#PSU Relay control pin on GPIO 19 ######Fan#2
[output_pin cpap_fan]
pin: rpi:gpio19
cycle_time: 0.002
hardware_pwm: false
pwm: true


#Power Up PSU on Custom Homing
[homing_override]
set_position_z: 5
axes: XYZ
gcode:
    SET_PIN PIN=psu48_control VALUE=0
    G4 P2000
    G0 Z10 F600 ; Move Z up a bit to prevent scratching
    G28 X0
    G28 Y0
    G1 X137 Y157 F9000
    G28 Z0
    G1 Z10 F2000

#Custom Idle Timeout
[idle_timeout]
gcode:
    TURN_OFF_HEATERS
    M84
    SET_PIN PIN=psu48_control VALUE=1
    ALL_SLEEP
timeout: 600


####################################################################
############################# FANS #################################
#####################################################################

[fan_generic Stepper_Fan]
#pin: PA1

#[fan_generic Goliath_Fan ]
#pin: PA0

#[heater_fan fan1]
#pin: PA1

#[heater_fan fan2]
#pin: PA2

#[fan_generic fan3]
#pin: PA3

#[fan_generic fan4]
#pin: PA4

#[fan_generic fan5]
#pin: PA5

#[fan_generic fan6]
#pin: PA6
#tachometer_pin: PC1

#[fan_generic fan7]
#pin: PE8
#tachometer_pin: PG0

####################################################################
########################## MULTI-PINS ##############################
####################################################################

[multi_pin heateractivated_pin]
pins: PA0, PA5, PA1

[heater_fan nozzle_cooling_fan]
pin: multi_pin:heateractivated_pin 
heater: extruder
heater_temp: 45
fan_speed: 1.0


####################################################################
######################## PRINTER LIMITS ############################
####################################################################

[printer]
kinematics: corexy
max_velocity: 2500
max_accel: 10000
max_z_velocity: 60
max_z_accel: 300
square_corner_velocity: 10

[pause_resume]
recover_velocity: 100

########################################
# TMC2160 configuration
########################################

[tmc5160 stepper_x]
cs_pin: PD6
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PC15
run_current: 2
sense_resistor: 0.022
#stealthchop_threshold: 999999
interpolate: false


[tmc5160 stepper_x1]
cs_pin: PD4
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PC15
run_current: 2
sense_resistor: 0.022
interpolate: false

[tmc5160 stepper_y]
cs_pin: PD5
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PF0
run_current: 2
sense_resistor: 0.022
#stealthchop_threshold: 999999
interpolate: false

[tmc5160 stepper_y1]
cs_pin: PD3
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PF0
run_current: 2
sense_resistor: 0.022
#stealthchop_threshold: 999999
interpolate: false

[tmc5160 extruder]
cs_pin: PD2
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 0.700
sense_resistor: .075
#stealthchop_threshold: 999999
interpolate: false

[firmware_retraction]
retract_length: 0.56
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 60
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 60
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


[tmc5160 stepper_z]
cs_pin: PA15
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PF1
run_current: 1.6
sense_resistor: 0.022
#stealthchop_threshold: 999999
interpolate: false

[tmc5160 stepper_z1]
cs_pin: PA9
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PF1
run_current: 1.6
sense_resistor: 0.022
#stealthchop_threshold: 999999
interpolate: false

[tmc5160 stepper_z2]
cs_pin: PA10
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PF1
run_current: 1.6
sense_resistor: 0.022
#stealthchop_threshold: 999999
interpolate: false

#[tmc5160 stepper_]
#cs_pin: PD3
#spi_software_sclk_pin: PC6
#spi_software_mosi_pin: PC8
#spi_software_miso_pin: PC7
##diag1_pin: PF2
#run_current: 0.800
#sense_resistor: 0.022
#stealthchop_threshold: 999999

#[tmc5160 extruder]
#cs_pin: PD2
#spi_software_sclk_pin: PC6
#spi_software_mosi_pin: PC8
#spi_software_miso_pin: PC7
#run_current: 0.800
#sense_resistor: 0.075
#stealthchop_threshold: 999999

#[tmc5160 extruder1]
#cs_pin: PA15
#spi_software_sclk_pin: PC6
#spi_software_mosi_pin: PC8
#spi_software_miso_pin: PC7
#run_current: 0.800
#sense_resistor: 0.075
#stealthchop_threshold: 999999

#[tmc5160 extruder2]
#cs_pin: PA9
#spi_software_sclk_pin: PC6
#spi_software_mosi_pin: PC8
#spi_software_miso_pin: PC7
#run_current: 0.800
#sense_resistor: 0.075
#stealthchop_threshold: 999999

#[tmc5160 extruder3]
#cs_pin: PA10
#spi_software_sclk_pin: PC6
#spi_software_mosi_pin: PC8
#spi_software_miso_pin: PC7
#run_current: 0.800
#sense_resistor: 0.075
#stealthchop_threshold: 999999

[board_pins]
aliases:
    # FPC header, Aliases EXP1 & EXP2 for mini12864
    EXP1_1=PG5, EXP1_2=PG4,
    EXP1_3=PG3, EXP1_4=PG2,
    EXP1_5=PD15, EXP1_6=PD14,
    EXP1_7=PD13, EXP1_8=PD12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PG8, EXP2_4=PE11,
    EXP2_5=PG7, EXP2_6=PE14,
    EXP2_7=PG6, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[bltouch]
#sensor_pin: ^PG1
#control_pin: PE9

# Proximity switch
#[probe]
#pin: PD11

#[output_pin ps_on_pin]
#pin: PD10

#[neopixel my_neopixel_1]
#pin: PF12

#[neopixel my_neopixel_2]
#pin: PF11

#[hall_filament_width_sensor]
#adc1: PC2
#adc2: PC3

#[adxl345]
#cs_pin: PE10
#spi_bus: spi4

#[servo servo_motor]
#pin: PE7

#i2c_bus:i2c2_PB10_PB11


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.131
#*# pid_ki = 1.342
#*# pid_kd = 75.492
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.846
#*# pid_ki = 2.179
#*# pid_kd = 383.950
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 119.4
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 103.0
#*#
#*# [beacon model default]
#*# model_coef = 1.4392843313885997,
#*# 	  1.7319306605560125,
#*# 	  0.778525673463868,
#*# 	  0.5131182272548035,
#*# 	  0.13431399543176678,
#*# 	  -0.19593114391296,
#*# 	  0.37973177076731085,
#*# 	  0.654565668682679,
#*# 	  -0.13250801678355148,
#*# 	  -0.3013274453213688
#*# model_domain = 1.8071817994151826e-07,1.9344423028962943e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 24.320573
#*# model_offset = 0.68500
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.217662, 0.184282, 0.152792, 0.139663, 0.124989, 0.113809, 0.090617, 0.062761, 0.033476, 0.018216, 0.031705, 0.041983, 0.044007, 0.030213, 0.009197, -0.008483, -0.027975, -0.042357, -0.050742, -0.062639
#*# 	0.213432, 0.182007, 0.152658, 0.134849, 0.117337, 0.109064, 0.096543, 0.062626, 0.039821, 0.034103, 0.047135, 0.063972, 0.061658, 0.044221, 0.020254, -0.001821, -0.020728, -0.037261, -0.054141, -0.062455
#*# 	0.220695, 0.189274, 0.160878, 0.144236, 0.122309, 0.119187, 0.102254, 0.080999, 0.052585, 0.051315, 0.072582, 0.092993, 0.090132, 0.067641, 0.036149, 0.005016, -0.010966, -0.021576, -0.046806, -0.054537
#*# 	0.231609, 0.187276, 0.165604, 0.149763, 0.142976, 0.138843, 0.119723, 0.093531, 0.075962, 0.066679, 0.085178, 0.106978, 0.110990, 0.084135, 0.049482, 0.025955, 0.010791, -0.000179, -0.028606, -0.030090
#*# 	0.243386, 0.197138, 0.167885, 0.156575, 0.150142, 0.145342, 0.128190, 0.110795, 0.094951, 0.077273, 0.087417, 0.103618, 0.107906, 0.083423, 0.064495, 0.044865, 0.031047, 0.015234, 0.001280, -0.005846
#*# 	0.237714, 0.192420, 0.163676, 0.153488, 0.148573, 0.136826, 0.130869, 0.114822, 0.093011, 0.075931, 0.084387, 0.084179, 0.083083, 0.077195, 0.068384, 0.055902, 0.041030, 0.022858, 0.010451, 0.005236
#*# 	0.214077, 0.165177, 0.142061, 0.138426, 0.130392, 0.130569, 0.110819, 0.091751, 0.072410, 0.065937, 0.070765, 0.059676, 0.056098, 0.061940, 0.059777, 0.047340, 0.028743, 0.010033, -0.003769, -0.006604
#*# 	0.185126, 0.154238, 0.130197, 0.116208, 0.115430, 0.119560, 0.094528, 0.067312, 0.054347, 0.051743, 0.048501, 0.041155, 0.038524, 0.051420, 0.061256, 0.048986, 0.018302, -0.007295, -0.016919, -0.020272
#*# 	0.175668, 0.148689, 0.125719, 0.119325, 0.114439, 0.112127, 0.083829, 0.059411, 0.048701, 0.036435, 0.032853, 0.037982, 0.044724, 0.057694, 0.068418, 0.061675, 0.027613, -0.009585, -0.017236, -0.023049
#*# 	0.171059, 0.150872, 0.127512, 0.125652, 0.120820, 0.102522, 0.083719, 0.069490, 0.048319, 0.042793, 0.036346, 0.040795, 0.042132, 0.056808, 0.069525, 0.072350, 0.045962, 0.005852, -0.013822, -0.016532
#*# 	0.164257, 0.135241, 0.122316, 0.122063, 0.114457, 0.099460, 0.081739, 0.066125, 0.050372, 0.046625, 0.034723, 0.038272, 0.038320, 0.048108, 0.058217, 0.051836, 0.036597, 0.009209, -0.008450, -0.014590
#*# 	0.150993, 0.133204, 0.115295, 0.114469, 0.107966, 0.097833, 0.085205, 0.063363, 0.046133, 0.047139, 0.036271, 0.035799, 0.043647, 0.039375, 0.037065, 0.033337, 0.024568, 0.005710, -0.008499, -0.013895
#*# 	0.141536, 0.125622, 0.109898, 0.101492, 0.094915, 0.095274, 0.084019, 0.061816, 0.045180, 0.045084, 0.046982, 0.040151, 0.042350, 0.036628, 0.027791, 0.023990, 0.015977, 0.001805, -0.007606, -0.016180
#*# 	0.143142, 0.117320, 0.111990, 0.109068, 0.098794, 0.099028, 0.080602, 0.062418, 0.047668, 0.049409, 0.065505, 0.059588, 0.050556, 0.042198, 0.034403, 0.027019, 0.021015, 0.015176, -0.004552, -0.014540
#*# 	0.160912, 0.137006, 0.124064, 0.116363, 0.105762, 0.099323, 0.085392, 0.081153, 0.066593, 0.060817, 0.073109, 0.065925, 0.055234, 0.051680, 0.048784, 0.043564, 0.037960, 0.032544, 0.017829, 0.010890
#*# 	0.191049, 0.168523, 0.147087, 0.131656, 0.121409, 0.123922, 0.118141, 0.105155, 0.095677, 0.087405, 0.079491, 0.080109, 0.082200, 0.072765, 0.073823, 0.076379, 0.069094, 0.056874, 0.052687, 0.047181
#*# 	0.209329, 0.178845, 0.162135, 0.142850, 0.138679, 0.150783, 0.144982, 0.127056, 0.113217, 0.107786, 0.101196, 0.095863, 0.103166, 0.105837, 0.107179, 0.102991, 0.095774, 0.084507, 0.074799, 0.067807
#*# 	0.195056, 0.168128, 0.152293, 0.134049, 0.137716, 0.149542, 0.136805, 0.122756, 0.107279, 0.095170, 0.095582, 0.099431, 0.104638, 0.108122, 0.114294, 0.108961, 0.100422, 0.086554, 0.071407, 0.071192
#*# 	0.177111, 0.154390, 0.137720, 0.127264, 0.122764, 0.131514, 0.121626, 0.112717, 0.095565, 0.082357, 0.081363, 0.085864, 0.092298, 0.092796, 0.102994, 0.096880, 0.084201, 0.070905, 0.061153, 0.067864
#*# 	0.160987, 0.136047, 0.123668, 0.126896, 0.114558, 0.117330, 0.122490, 0.109682, 0.093011, 0.073548, 0.065880, 0.065595, 0.074288, 0.079208, 0.081716, 0.085530, 0.078612, 0.058265, 0.049828, 0.057120
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 260.0
#*# min_y = 55.0
#*# max_y = 265.0
