@media screen and (max-width: 768px) {
    .grid-data-container {
        grid-template-columns: 1fr !important;
    }
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.grid-search-label {
    color: var(--primary-color)
}

.grid-search {
    width: 100%;
}

.grid-search-input:focus-visible {
    outline-color: var(--primary-color) !important;
}

.grid-search-input:focus, input:focus {
    outline: solid 1px var(--primary-color);
}

.grid-search-input {
    width: 100%;
    background: var(--primary-background-color);
    border-radius: 2rem;
    border: 1.5px solid var(--primary-color);
    color: var(--base-color);
    padding: 0.25rem 1rem;
}

.grid-search-info {
    font-size: small;
    padding: 0 1rem;
}

.grid-search-info-filter {
    color: var(--primary-color);
}

.grid-data-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.grid-item-image {
    width: 100%;
}

.grid-item-image-container {
    display: flex;
}

.grid-item-images {
    position: relative;
    user-select: none;
    border: 1px solid var(--primary-color) !important;
    border-bottom: 0 !important;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
}

.grid-item-image.inactive {
    visibility: hidden;
}

.grid-item-images-control-container {
    color: var(--primary-color);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.grid-item-images-control > i {
    font-size: 2rem;
}

.grid-item-images-control-zoom > i {
    font-size: 5rem;
}

.grid-item-images-control {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.4s ease;
    padding: 1rem;
}

.grid-item-images-control:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.4s ease;
}

.grid-item-images-control.grid-item-images-control-zoom:hover {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.grid-item-image-zoomed > .grid-item-images-control-container {
    display: none;
}



.grid-item-image-zoomed {

}

.grid-item-images-control.grid-item-images-control-zoom {
    display: none; <!-- Todo: Implement -->
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.grid-item-images-control-previous {
    border-top-left-radius: 1rem;
    left: 0;
}

.grid-item-images-control-next {
    border-top-right-radius: 1rem;
    right: 0;
}

.grid-item-custom-content {
    padding-bottom: 1rem;
    margin-top: auto;
}


.grid-item-credits {
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: auto;
}

.grid-item-credit-header {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bolder;

}

.grid-item-credit-list {
    margin: 0 !important;
}

.grid-item-credit-list-item-name {
    font-size: 1rem;
    font-weight: bolder;
}

.grid-item-credit-list-item-wrapper {
    display: flex;
    flex-direction: column;
}

.grid-item-credit-list-item-description {
    font-size: 1.1rem;
}

.grid-item-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.component-active-status-retired {
    border: 2px solid red !important;
}

.component-active-status {
    display: flex;
    justify-content: center;
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: large;
}

.grid-item-description {
    transition: all 0.2s ease-in-out;
    opacity: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
}

.grid-item-description-expanded {
    opacity: 1;
    height: auto;
    margin-bottom: 1rem;
    overflow-y: auto;
    max-height: 20rem;
}


.grid-item-description-button {
    border: 1px solid var(--primary-color) !important;
    padding: 0 1rem;
    background: #2d2d2d;
    color: white;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.grid-item-description-button:active {
    transform: unset;
}

.grid-item-description-button-text {
    padding: 0.4rem 0;
}

.grid-item-description-button-icon {
    line-height: normal;
    font-size: 1.4rem;
}


.grid-item-title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    position: relative;
}

.grid-item-title-inner-wrapper {
    padding-top: 1rem;
}

.grid-item-title {
    font-size: large;
    font-weight: bolder;
    text-align: center;
    color: var(--base-color) !important;
    text-decoration: none !important;
}

.grid-item-title:hover {
    cursor: pointer;
    text-decoration: underline !important;
    color: var(--primary-color) !important;
}

.grid-item-title:active {
    transform: translateY(4px) !important;
}

.link-selected-anchor {
    position: relative;
    border: unset !important;

}

.link-selected-anchor:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--grid-item-border-width) * 2);
    left: calc(-1 * var(--grid-item-border-width) * 2);
    height: calc(100% + var(--grid-item-border-width) * 2 * 2);
    width: calc(100% + var(--grid-item-border-width) * 2 * 2);
    background: linear-gradient(60deg, var(--primary-color), #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: var(--grid-item-border-radius);
    animation: grid-item-anchor-selected-animation 1s ease alternate infinite;
    z-index: -1;
    background-size: 300% 300%;
}


@keyframes grid-item-anchor-selected-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.grid-item-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid-item {
    --grid-item-border-width: 3px;
    --grid-item-border-radius: 1rem;
    background: var(--primary-background-color);
    border: solid var(--grid-item-border-width) var(--primary-color);
    border-radius: var(--grid-item-border-radius);
    box-shadow: 3.7px 6.1px 1.9px rgba(0, 0, 0, 0.004),
    7.5px 12.2px 4.8px rgba(0, 0, 0, 0.009),
    11.2px 18.3px 9.6px rgba(0, 0, 0, 0.014),
    14.9px 24.3px 17.6px rgba(0, 0, 0, 0.019),
    18.5px 30.2px 32.6px rgba(0, 0, 0, 0.027),
    22px 36px 73px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.grid-item-state {
    height: fit-content;
    border: 3px solid var(--primary-color);
    border-right: unset;
    border-top: unset;
    border-bottom-left-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

.grid-item-tag-container {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid var(--primary-color);
}

.grid-item-tag-inner-container {
    flex-wrap: wrap;
    display: flex;
    gap: 0.5rem 0.5rem;
    padding: 0.5rem 0;
}

.grid-item-tag {
    background: var(--secondary-background-color);
    border: solid 2px var(--primary-color);
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    color: white;
}

.grid-item-tag-inner-container > .grid-item-tag-remove:hover {
    background: red;
    color: white;
}

.grid-item-tag:active {
    transform: translateY(4px) !important;
}

.grid-item-tag:hover {
    background: var(--link-color);
    color: black;
    cursor: pointer;
}