@media screen and (max-width: 768px) {
    :root {
        --sidebar-width: 100% !important;
    }
}

:root {
    --sidebar-nav-pagelink-background-image: none;
    --sidebar-nav-link-before-content: '';
    --content-max-width: 80rem;
    --mark-background: white;
    --sidebar-width: 25rem;
    --heading-h1-color: var(--primary-color);
    --heading-h1-font-size: 3rem;
    --heading-h1-padding: 0 0 1rem 0;
    --cover-button-primary-color: black;
    --cover-button-padding: 0.5rem;
    --base-background-color: var(--primary-background-color);
    --sidebar-background: var(--secondary-background-color);
    --theme-color: var(--primary-color);
    --search-input-border-color: var(--primary-color);
    --search-input-placeholder-color: white;
    --search-input-background-color: var(--primary-background-color);
    --base-color: white;
    --cover-background-color: unset;
    --cover-background-mask-opacity: 0.3;
    --sidebar-border-color: var(--primary-color);
    --sidebar-toggle-background: var(--secondary-background-color);
    --sidebar-toggle-icon-color: var(--primary-color);
    --sidebar-toggle-border-color: var(--primary-color);
    --table-cell-border-color: var(--primary-color);
    --table-cell-padding: 0.5rem 1rem;
    --table-row-odd-background: var(--alternative-secondary-color);
    --heading-h2-border-color: var(--primary-color);
    --sidebar-padding: 1rem;
    --link-color: var(--primary-color);
    --strong-color: var(--primary-color);
    --sidebar-name-margin: 0;
    --search-margin: 1rem 0 0 0;
    --sidebar-nav-margin: 0.5rem 0 0 0;
    --code-inline-padding: 0.3rem;
    --code-inline-border-radius: 0.5rem;
    --code-inline-margin: 0.3rem;
    --search-input-font-size: 1.2rem;

    --primary-color: #d1ff2a;
    --secondary-color: #2d2650;
    --alternative-secondary-color: #1f1c33;
    --primary-background-color: #2d2d2d;
    --secondary-background-color: #343434;
}

.table-wrapper {
    border: 1px solid var(--primary-color);
    padding: 0;
    border-radius: 0.5rem;
}

.table-wrapper > table {
    margin: 0;
}

.table-wrapper > table > thead > tr > th {
    padding-top: 1rem;
}

.table-wrapper > table > tbody > tr > td {
    border-bottom: unset;
}

.app-name-link {
    font-size: 2rem;
    font-weight: bolder;
}

.sidebar-toggle .sidebar-toggle-button {
    padding: 1.2rem;

    border: 1px solid var(--primary-color);
    border-left: unset;
    border-radius: 0 0.5rem 0.5rem 0;
}

.sidebar-toggle {
    padding: 1.2rem;
}

.search .clear-button.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover blockquote {
    border: 1px solid var(--primary-color)
}

.cover-button {
    font-size: larger;
    font-weight: 700;
    display: flex !important;
    flex-direction: column !important;
    border-radius: 1rem !important;
    border-color: unset !important;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07) !important;
}

.sidebar-nav ul > li.folder {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='rgb%28179, 179, 179%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left calc(1em - 8px);
    padding-left: 16px;
}

.sidebar-nav ul > li.folder.open {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='rgb%2811, 135, 218%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    background-position: left calc(1em - 6px);
}

.sidebar-nav li.folder > ul {
    margin-left: 16px;
}

.sidebar-nav li.folder li.file > a {
    padding-left: 16px;
}

.sidebar-nav > ul {
    padding-right: 1rem;
    font-size: 1.2rem;
}

.sidebar-nav > ul > li > ul > li > ul > li > a:before {
    content: "" !important;
}

.sidebar-item {
    color: var(--primary-color);
    font-size: larger;
    font-weight: bolder
}

.hevort {
    color: var(--primary-color);
    font-size: larger;
    font-weight: 500;
}

h1 {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 768px) {
    .hevort-message > span {
        font-size: 0.8rem !important;
    }
}

.hevort-message {
    max-height: 6rem;
    min-height: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.hevort-message > img {
    max-height: inherit;
    padding: 1rem 0;
}

.hevort-message > span {
    font-weight: bold;
}

.socials {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    padding: 0 1rem 1rem 1rem;
}

.socials > span {
    transform: translateY(50%);
    text-align: center;
    position: relative;
}

.socials > span > span {
    position: relative;
    padding: 0 1rem;
    background: var(--secondary-background-color);
}

.socials-container {
    border: 1px solid var(--primary-color);
    padding: 1rem 0;
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}

.social-btn {
    all: unset !important;
    height: max-content;
    width: max-content;
}

.social-btn-icon:hover {
    color: var(--primary-color);
}

.social-btn-icon:active {
    transform: translateY(4px);
}

.social-btn-icon {
    font-size: 2rem;
}

.sidebar {
    padding: 1rem;
}

.sidebar-nav {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.sidebar-credit-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0 !important;
}

blockquote {
    padding: 1rem !important;
    margin: 0.5rem 0 !important;
    border-width: 1px 1px 1px 0.5rem !important;
    border-radius: 1rem !important;
    background-color: var(--secondary-background-color) !important;
}

blockquote > blockquote {
    background-color: var(--primary-background-color) !important;
}

blockquote > blockquote > blockquote {
    background-color: var(--secondary-background-color) !important;
}

code {
    background-color: var(--secondary-background-color) !important;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 1rem;
}

body:not([data-platform^="Mac"]) * ::-webkit-scrollbar-track {
    background: var(--primary-color) !important;
    padding: 1rem !important;
}

body:not([data-platform^="Mac"]) * ::-webkit-scrollbar-thumb {
    background: var(--secondary-color) !important;
}

.mod-contribution-rules-container {
    border: 2px solid var(--primary-color);
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}