:root {
    --sidebar-nav-pagelink-background-image: none;
    --sidebar-nav-link-before-content: '';
    --sidebar-width: 25rem;
    --content-max-width: 80rem;
    --mark-background: white;
    --heading-h1-color: var(--primary-color);
    --heading-h1-font-size: 3rem;
    --heading-h1-padding: 0 0 2rem 0;
    --cover-button-primary-color: black;
    --cover-button-padding: 0.5rem;
    --base-background-color: var(--primary-background-color);
    --sidebar-background: var(--secondary-background-color);
    --theme-color: var(--primary-color);
    --primary-color: #d1ff2a;
    --primary-background-color: #2d2d2d;
    --secondary-background-color: #343434;
}

.cover-button {
    font-size: larger;
    font-weight: 700;
    display: flex !important;
    flex-direction: column !important;
    border-radius: 1rem !important;
    border-color: unset !important;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07) !important;
}

.sidebar-nav ul > li.folder {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='rgb%28179, 179, 179%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left calc(1em - 8px);
    padding-left: 16px;
}

.sidebar-nav ul > li.folder.open {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='rgb%2811, 135, 218%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    background-position: left calc(1em - 6px);
}

.sidebar-nav li.folder > ul {
    margin-left: 16px;
}

.sidebar-nav li.folder li.file > a {
    padding-left: 16px;
}


.sidebar-nav > ul > li > ul > li > ul > li > a:before {
    content: "" !important;
}

.sidebar-item {
    color: var(--primary-color);
    font-size: larger;
    font-weight: bolder
}

.hevort {
    color: var(--primary-color);
    font-size: larger;
}

h1 {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr !important;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.grid-item {
    border: solid 3px var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 3.7px 6.1px 1.9px rgba(0, 0, 0, 0.004),
    7.5px 12.2px 4.8px rgba(0, 0, 0, 0.009),
    11.2px 18.3px 9.6px rgba(0, 0, 0, 0.014),
    14.9px 24.3px 17.6px rgba(0, 0, 0, 0.019),
    18.5px 30.2px 32.6px rgba(0, 0, 0, 0.027),
    22px 36px 73px rgba(0, 0, 0, 0.05);
}

.grid-item-image {
    border: 1px solid var(--primary-color) !important;
    border-bottom: 0 !important;
    border-radius: 1rem 1rem 0 0;
}

.grid-item-title {
    padding-bottom: 1rem;
    font-size: large;
    font-weight: bolder;
    align-self: center;
    text-align: center;
}

.grid-item-custom-content {
    padding-bottom: 1rem;
    margin-top: auto;
}


.grid-item-credits {
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
}

.grid-item-credit-header {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bolder;

}

.grid-item-credit-list {
    margin: 0 !important;
}

.grid-item-credit-list-item-name {
    font-size: 1.2rem;
    font-weight: bolder;
}

.grid-item-credit-list-item-wrapper {
    display: flex;
    flex-direction: column;
}

.grid-item-credit-list-item-description {
    font-size: 1.1rem;
}

.grid-item-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.component-active-status-retired {
    border: 2px solid red !important;
}

.component-active-status {
    display: flex;
    justify-content: center;
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: large;
}

@media screen and (max-width: 768px) {
    .hevort-message > span {
        font-size: 0.8rem !important;
    }
}

.hevort-message {
    max-height: 6rem;
    min-height: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.hevort-message > img {
    max-height: inherit;
    padding: 1rem 0;
}

.hevort-message > span {
    font-weight: bold;
}

.grid-item-description {
    transition: all 0.2s ease-in-out;
    opacity: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
}

.grid-item-description-expanded {
    opacity: 1;
    height: auto;
    max-height: 500px;
    padding-bottom: 1rem;
}


.grid-item-description-button {
    border: 1px solid var(--primary-color) !important;
    padding: 0 1rem;
    background: #2d2d2d;
    color: white;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.grid-item-description-button:active {
    transform: unset;
}

.grid-item-description-button-text {
    padding: 0.4rem 0;
}

.grid-item-description-button-icon {
    line-height: normal;
    font-size: 1.4rem;
}