####################################################################
########################### MACROS #################################
##############################################
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    {% set X = params.X|default(150)|float %}
    {% set Y = params.Y|default(250)|float %}
    {% set Z = params.Z|default(10)|float %}
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-8 F1000
    M84
    SET_PIN PIN=psu48_control VALUE=0
    TURN_OFF_HEATERS
    M106 S0
    CLEAR_PAUSE
    CLOSELOGGER
    INCR_SPEED_STOP
    BASE_CANCEL_PRINT
    SDCARD_RESET_FILE

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED|default(95)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(195)|float %}
	#SET_FAN_SPEED FAN=psu48 SPEED=1
    #WC_SHOW                # Led Effect
    Area_BLUE              # Led Effect
    M140 S{BED_TEMP}        # Start bed heating
    G90                     # Use Absolute coordinate
    M82                     # Set Extruder to Absolute Mode
    M107                    # Fan Off
    G28                     # Home All
    Under_HEATBED          # Led effect to follow bed heat cycle
    M190 S{BED_TEMP}        # Wait for bed temp to reach value before performing Z-Tilt
    Z_TILT_ADJUST           # Auto Bed Levelling
    BED_MESH_CALIBRATE      # Run Bed Mesh
    G28                     # Home All
    G92 E0                  # Set Extruder position to Zero
    G1 X60 Y0 F6000         # Move print head to Front of bed
    G1 Z0 F400              # Move print head on bed to close hotend
    Area_HOTEND            # Led Effect to follow HotEnd Heating cycle 
    M109 S{EXTRUDER_TEMP}   # Heat Extruder
    G1 Z0.2 F400            # Place Print Head at 1 layer height 
    G1 E8 F1000             # Refill Extruder with filament
    G1 X140 Y0 E20 F1000    # Start purge line
    G1 X220 Y0 E34 F1000    # Accelerate purge
    G1 Z5 E54 F800          # Squirt while lifting
    G1 E53.8 F6000          # Retraction
    G1 X235 F6000           # Move aside
    G92 E0                  # Reset Extruder position to Zero 
    Area_BRIGHT            # Led effect
    Under_YELLOW           # Led effect
    Elec_PINK              # Led effect
    Back_YELLOW            # Led effect
    Octopus_YELLOW         # Led effect

[gcode_macro END_PRINT]
gcode:
    {% set X = params.X|default(150)|float %}
    {% set Y = params.Y|default(250)|float %}
    {% set Z = params.Z|default(10)|float %}
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000
    G91
    G1 E-8 F1000
    M84
    ALL_SLEEP
    SET_PIN PIN=psu48_control VALUE=0
    TURN_OFF_HEATERS
    M106 S0
    
    


[gcode_macro FORCED_PAUSE]
gcode:
	PAUSE

[gcode_macro M600]
gcode:
    {% set X = params.X|default(20)|float %}
    {% set Y = params.Y|default(20)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-60 F1000
    RESTORE_GCODE_STATE NAME=M600_state

